openapi: 3.1.0
info:
  title: ICEYE Constellation Catalog API
  description: 'ICEYE Constellation API spanning the Company, Tasking, and Catalog APIs

    for managing contracts, requesting satellite imaging tasks, and browsing

    or purchasing existing imagery.

    '
  version: '1.0'
  contact:
    name: ICEYE
    url: https://docs.iceye.com/constellation/api/1.0/
servers:
- url: https://api.iceye.com
  description: Production
security:
- apiKeyAuth: []
tags:
- name: Catalog
paths:
  /catalog/items:
    get:
      summary: List catalog items
      operationId: listCatalogItems
      responses:
        '200':
          description: A list of catalog items
      tags:
      - Catalog
  /catalog/search:
    post:
      summary: Search catalog items
      operationId: searchCatalog
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Matching items
      tags:
      - Catalog
  /catalog/purchase:
    post:
      summary: Purchase catalog item
      operationId: purchaseCatalogItem
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Purchase confirmation
      tags:
      - Catalog
  /catalog/purchased:
    get:
      summary: List purchased items
      operationId: listPurchasedItems
      responses:
        '200':
          description: A list of purchased items
      tags:
      - Catalog
  /catalog/purchased/{purchaseId}/products:
    parameters:
    - name: purchaseId
      in: path
      required: true
      schema:
        type: string
    get:
      summary: List products for a purchased item
      operationId: listPurchasedItemProducts
      responses:
        '200':
          description: A list of products
      tags:
      - Catalog
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: API key issued by ICEYE.
